

#Board {
    display: grid;
    grid-template-columns: repeat(8, 58px);
    grid-template-rows: repeat(8, 58px);
    width: 475px;
    height: 475px;
    background-color: rgb(244, 238, 238);
}

#Board .tile{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

