#Board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: 475px;
    height: 475px;
    background-color: rgb(194, 98, 98);
}

#Board .tile{
    width: 55px;
    height: 55px;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

