#Board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: 480px;
    height: 480px;
    background-color: rgb(194, 98, 98);
}

#Board .tile{
    width: 60px;
    height: 60px;
    border-style: groove;
    border-radius: 5px;
    border-color: black;
}

