#Menu {
    /* position: fixed; */
    bottom: 85px;
    left: 235px;
    width: 200px;
    height: 480;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(199, 229, 250);
}

#Menu .Credit{
    width: 100px;
    height: auto;
    /* place-content: center; */
}